<div class="dnddpd-method-pickup">
    <div class="dnddpd-method-pickup__top">
        <span>Les relais Pickup suivants sont disponibles autour de cet adresse de livraison saisie</span>
    </div>
    <div class="dnddpd-method-pickup__search open" id="pickup-search-wrapper">
        <p class="dnddpd-method-pickup__search-toggle" id="pickup-search-toggle">
            <span>Rechercher des relais Pickup autour d'une autre adresse</span>
            <span class="dnddpd-method-pickup__search-toggle-icon icon fa fa-chevron-down"></span>
        </p>
        <div id="pickup-search" class="form">
            <input id="pickup-address" type="text" value="<%= address %>" class="input dnddpd-method-pickup__search-input address" placeholder="Adresse" />
            <input id="pickup-zipcode" type="number" value="<%= postalCode %>" class="input dnddpd-method-pickup__search-input zipcode" placeholder="Code postal *" />
            <input id="pickup-city" type="text" value="<%= city %>" class="input dnddpd-method-pickup__search-input city" placeholder="Ville *" />
            <button id="pickup-search-btn" class="dnddpd-method-pickup__search-btn btn btn-primary">Rechercher</button>
            <button id="reset-search-reset" class="dnddpd-method-pickup__search-btn btn btn-secondary">Réinitialiser</button>
        </div>
    </div>
    <div class="dnddpd-method-pickup__list" data-pickup-list></div>
</div>
