<div class="dnddpd-method__details dnddpd-method-predict" data-predict>
    <div class="dnddpd-method-predict__top">
        <span>Livraison à domicile Predict sur rendez-vous</span>
    </div>
    <div class="dnddpd-method-predict__body">
        <img src="/bundles/dnddpdfranceshipping/img/predict-background.png" alt="" class="dnddpd-method-predict__image" loading="lazy" />
        <div class="dnddpd-method-predict__content">
            <img src="/bundles/dnddpdfranceshipping/img/predict.png" width="100" alt="" class="dnddpd-method-predict__logo" loading="lazy" />
            <strong>Avec Predict, bénéficiez des avantages suivants :</strong>
            <ul>
                <li>Livraison de votre colis dans un créneau d'une heure (choix par SMS ou par notre portail web)</li>
                <li>Suivi complet et détaillé de votre livraison</li>
                <li>En cas d'absence, vous reprogrammez une livraison où et quand vous le souhaitez</li>
            </ul>
            <strong>Comment ça fonctionne ?</strong>
            <ul>
                <li>Une fois votre commande péparée, nous vous envoyons un SMS avec plusieurs choix de dates et créneaux horaires de livraison</li>
                <li>Vous sélectionnez la date et le créneau d'une heure qui vous conviennent le mieux en répondant directement par SMS (prix d'un SMS standard) ou en vous connectant sur l'Espace Destinataire disponible sur dpd.fr</li>
                <li>Le jour de la livraison, vous recevrez un SMS vous indiquant un créneau réduit à une heure</li>
            </ul>
            <img src="/bundles/dnddpdfranceshipping/img/dpd.png" alt="" width="50" class="dnddpd-method-predict__logo dnddpd-method-predict__logo-footer" loading="lazy" />
        </div>
    </div>
    <div class="dnddpd-method-predict__bottom">
        <span>Bénéficiez des avantages de la livraison Predict en renseignant votre n° de mobile ici</span>

        <div class="dnddpd-method-predict__phone">
            <input type="number" class="input" name="predict_phone" />
        </div>
    </div>

    <div class="dnddpd-method-predict__error" data-error style="display: none;">
        le numéro de mobile renseigné semble incorrect. Merci de préciser un numéro de mobile français, commençant par 06 ou 07, sur 10 chiffres consécutifs.
    </div>
</div>
